<div class="row">
    <div class="col-sm-12">
        <form >
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input 
                        id="name" 
                        type="text" 
                        class="form-control"
                        #nameInput>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input 
                        id="amount" 
                        type="number" 
                        class="form-control"
                        #amountInput>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button 
                        class="btn btn-success mr-5" 
                        type="button"
                        (click)="onAddIngredient()">Add</button>
                    <button class="btn btn-danger mr-5" type="button">Delete</button>
                    <button class="btn btn-default" type="button">Clear</button>
                </div>
            </div>
            <div 
                *ngIf="invalidAddAction"
                class="row">
                <div class="col-xs-12">
                    <div class="alert alert-warning"> <strong>Warning!</strong>  Add the ingredients info!</div>
                </div>
            </div>
        </form>
    </div>
</div>